root = true #указывает,что файл является корневым для всех файлов

[*]# указывает,что все файлы в проекте будут использовать след настройки
indent_style = space # указывает что отступы будут через пробел
indent_size = 2 # кол во пробелов по умолчанию для отступа
end_of_line = lf # по умолчанию символ конца строки
charset = utf-8 # кодировка для языков
trim_trailing_whitespace = true # убирает лишние пробелы
insert_final_newline = true # вставить последнюю пустую строку
