@media(max-width:1200px) {
    .container {
        max-width: 940px;
    }

    .hero__microphone::after {
        background-image: url("../img/hero/microphone-1024.png");
        width: 260px;
        height: 272px;
        top: -15px;
    }

    .about__content-decor {
        width: 255px;
        height: 305px;
        background-image: url("../img/about/decor-1024.png");
    }

    .broadcast__list {
        --elements-broadcast: 2;

    }

    .playlists-list {

        --elements-playlists: 3;
    }
}

@media(max-width: 1024px) {
    .container {
        max-width: 824px;
    }

    .header {
        position: relative;
    }

    .header__wrapper {
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 0;

    }

    .header__logo {
        order: 1;
        margin-bottom: 33px;
        width: 112px;
    }

    .header__search {
        order: 2;
    }

    .nav {
        order: 3;
        width: 100%;
        padding: 22px 0;


    }

    .nav::after {
        content: "";
        background-color: var(--light-color);
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .nav::before {
        content: "";
        background-color: var(--light-color);
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 62px;

    }



    .nav__list {
        justify-content: space-between;
    }

    .hero__text {
        max-width: 539px;
        margin-bottom: 20px;
    }

    .hero {
        padding: 90px 0;
    }

    .guests__text {
        max-width: 539px;
    }

    .guests__list-btn {
        padding: 8px 19.5px;
    }

    .playlists__content {
        flex-direction: column;
    }

    .playlists__item {
        flex-direction: row;
    }

    .playlists__wrapper {
        max-width: 100%;
    }

    .playlists__item-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 10px;
    }

    .playlists__flag {
        left: 0;
    }

    .adv {
        padding: 94px 0;
    }

    .adv__box-img::before {
        top: 0;
        background: url("../img/adv/new-1024.svg") no-repeat;
        width: 100px;
        height: 100px;
    }

    .adv__wrapper {
        max-width: 396px;
    }

    .adv__price {
        margin-bottom: 24px;
    }

    .about__text {
        max-width: 539px;
    }

    .about__content-decor {
        height: 305px;
        background-position: -25px 49px;
    }

    .about__list {

        --elements-about: 2;

    }

    .about__item-img {
        margin-bottom: 24px;
    }

    .about {
        padding-bottom: 92px;
    }

    .footer__logo {
        margin-bottom: 11px;
    }

    .footer-nav__list {

        gap: 20px 96px;
    }
}

@media(max-width:992px) {

    .container {
        max-width: 540px;
    }

    .nav__list {

        gap: 0px;
    }

    .hero__microphone::after {
        display: none;
    }

    .podcasts__list {
        --elements-podcasts: 1;

    }

    .nav__link {
        font-size: 16px;
    }

    .broadcast__container {
        flex-direction: column;
        position: static;
        gap: 0;
    }

    .broadcast {
        position: relative;
        padding-bottom: 38px;
    }

    .broadcast__archive {
        max-width: 255px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 90px;
        top: 8px;
        left: 18%;
        padding-top: 30px;
    }

    .broadcast__archive::before {

        background: url("../img/broadcast/mic.svg") center no-repeat;
        width: 70px;
        height: 96px;
        position: absolute;
        left: 0;


    }

    .broadcast__btn-archive {
        padding: 8px 53.5px;
        margin-bottom: 8px;
    }

    .broadcast__text-archive {
        width: 255px;
    }

    .broadcast__list {
        margin-top: 0px;
        --elements-broadcast: 2;
        padding-bottom: 56px;
    }

    .broadcast__list::after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 156px;
        right: 0;
        left: 0;
        height: 1px;
        background-color: var(--light-color);
    }

    .broadcast__title {
        margin-bottom: 123px;
    }

    .guests__list-item {

        flex-direction: column;
        gap: 24px;
    }

    .guests__list-text {

        margin-bottom: 30px;
        max-width: 362px;

    }

    .guests {
        padding: 94px 0 98px;

    }

    .playlists-list {
        --elements-playlists: 2;
    }

    .playlists {
        padding: 94px 0 112px;
    }

    .adv__content {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .adv__box-img::before {
        top: 0;
        background: url("../img/adv/new.svg") no-repeat;
        width: 160px;
        height: 160px;
    }

    .adv {
        padding-top: 54px;
    }

    .adv__content {
        display: flex;
        gap: 45px;
        flex-direction: column;
    }

    .adv__title {

        background: none;
        padding-bottom: 18px;
    }


    .adv__text-first {
        background-image: url("../img/adv/decor-768.svg");
        background-position: top left;
        background-repeat: no-repeat;
        margin-top: 0;
        padding-top: 30px;
    }

    .adv__wrapper {
        max-width: 540px;
    }

    .adv__btn {
        padding: 25px 11px;
    }

    .about {
        position: relative;
    }

    .about__content-decor {
        position: absolute;
        width: 100%;
        height: 180px;
        left: -2px;
        top: 425px;
        background-image: url("../img/about/decor-768.svg");
        background-repeat: no-repeat;
    }

    .about__content {
        display: flex;
        gap: 31px;
        flex-direction: column;
        padding-bottom: 172px;
    }

    .about__container {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .about__list {
        --elements-about: 2;
        margin-bottom: 30px;
    }

    .form__inputs {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .form__input {
        border: 1px solid var(--white);
        border-radius: 40px;
        padding: 25px 10px 25px 32px;
        flex: 1 1 50%;
        height: 70px;
        color: white;
        outline: none;
        background-color: transparent;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
    }

    .footer__list-social {
        display: flex;
        gap: 21px;
        justify-content: center;

    }

    .footer__left {
        margin: 0 auto 73px;
    }

    .footer__link-social svg {
        width: 36px;
        height: 36px;
    }

    .footer__logo {
        margin-bottom: 15px;
    }

    .footer-nav__list {
        gap: 28px 156px;
    }

    .footer__content {
        margin-bottom: 76px;
    }

}

@media(max-width: 576px) {
    .container {
        max-width: 320px;
        padding: 0 32px;
    }

    .header__logo {
        margin-bottom: 0px;
        width: 87px;
    }

    .header__wrapper {
        padding-top: 23px;
    }

    .header__search {
        transform: translateY(-8px);
    }

    .nav {
        overflow-x: auto;
        padding: 17px 0;
    }

    .nav__list {
        gap: 32px;
    }

    .nav::before {

        bottom: 49px;
    }


    .nav__link {
        font-size: 16px;
        white-space: nowrap;
        line-height: 16px;
    }

    .hero__title {
        font-size: 32px;
        margin-bottom: 8px;

    }

    .hero__text {
        font-size: 14px;
    }

    .hero {
        padding: 40px 0;
    }

    .hero__btn {
        width: 200px;
        height: 50px;
        font-size: 16px
    }

    .podcasts {
        padding: 54px 0;
    }

    .podcasts__card {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .podcasts__content-date {
        top: 0;

    }

    .site-title {
        font-size: 24px;
    }

    .podcasts__title {
        margin-bottom: 20px;
    }

    .podcasts__content {
        padding: 30px 16px;
    }

    .podcasts__content-title {

        font-size: 16px;
        margin-bottom: 3px;
    }

    .podcasts__name-text {
        font-size: 12px;
    }

    .podcasts__content-time {

        display: block;
        margin-bottom: 5px;
    }

    .podcasts__list {
        gap: 29px;
    }

    .broadcast {

        padding: 54px 0 61px;
    }

    .broadcast__title {
        margin-bottom: 30px;
    }

    .broadcast__content {
        padding: 10px 12px 12px 10px;
        min-height: 99px;

    }

    .broadcast__content-title {
        font-size: 12px;
        line-height: normal;

    }

    .broadcast__content-text {
        font-size: 9px;
        margin-bottom: auto;

    }

    .broadcast__content-link {
        font-size: 12px;
        color: var(--primary);


    }

    .broadcast__content-link path {
        fill: #6D31EE;

    }

    .broadcast__archive::before {
        width: 79px;
        height: 105px;
        background-size: contain;
    }

    .broadcast__btn-archive {
        padding: 7.6px 31px;
        margin-bottom: 0px;
        order: 2;
    }

    .broadcast__text-archive {
        width: 166px;
        font-size: 14px;
        margin-bottom: 7px;
    }

    .broadcast__list {

        padding-bottom: 21px;
    }

    .broadcast__list::after {
        bottom: 182px;
    }

    .broadcast__archive {
        left: -9%;
    }

    .guests {
        padding: 54px 0 52px;
    }

    .guests__caption {
        font-size: 14px;
        margin-bottom: 0;

    }

    .guests__text {
        font-size: 14px;
        margin-bottom: 27px;
    }

    .guests__list-item {
        flex-direction: column;
        gap: 12px;
    }

    .guests__list-name {
        margin-bottom: 5px;
    }

    .guests__list-btn {
        padding: 7px 13px;
    }

    .guests__list {
        gap: 30px;
    }

}